[Unit]
Description=Core VigilEDR service
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
Restart=on-failure
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin"
ExecCondition=/usr/bin/python3 /usr/local/vigil/configCheck.py
ExecStart=/usr/bin/python3 /usr/local/vigil/core.py
StartLimitInterval=1s
StartLimitBurst=999

[Install]
WantedBy=multi-user.target